@{
    ViewBag.Title = "Scuba Hub";
}

<div class="jumbotron">
    <h1>Scuba Hub</h1>
    <p class="lead">Welcome to Scuba Hub - the place for all scuba divers!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What's next?</h2>
        <p>
            As a diver I realized there needs a place where I can find everything about diving, dive centers, dive shops, dive trips, dive courses and other divers.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Development</h2>
        <p>This is just a start page for more to come, whenever I have time to develop this.</p>
    </div>
    <div class="col-md-4">
        <h2>Language</h2>
        <p>I start in english so this application will be useful for more divers around the world</p>
    </div>
</div>